.client {
  .swiper-wrapper {

  }
  &__pagination {
    background-color: var(--clr-red);
    @include max-w($tab-size) {
      flex-direction: column;

    }
  }
  &__list {
    max-width: 78em !important;
    margin: 0 auto;
    overflow-y: scroll;
  }
  &__buttons {
    margin-left: auto;
    img {
      @include max-w($mob-size) {
        width: 60px;
      }
    }
  }
}

.pagination {
  padding: clamp(1.5rem, 9.75vw, 9.75rem)  max(6.25vw, 10px) max(2.56vw, 1.25rem) max(6.25vw, 10px);
  @include al-flex;
  justify-content: space-between;
  @include max-w($mob-size) {
    padding: clamp(1.5rem, 9.75vw, 9.75rem) 15px max(2.56vw, 1.25rem) 15px;
  }
}

.pag-buttons {
  display: flex;
  grid-gap: max(3.8125vw, 2.5rem);
}

.pag-name {
  color: var(--clr-white);
  font-style: italic;
  font-size: clamp(1.375rem, 2.25vw, 2.25rem);
  @include max-w($tab-size) {
    margin-right: auto;
    margin-bottom: 3rem;
  }
}

.sponsor-list {
  padding: clamp(2.5rem, 4.75vw, 4.75rem) 0 clamp(2.5rem, 7.875vw, 7.875rem);
  @include al-flex;

  flex-wrap: nowrap;
  justify-content: space-between;
  margin-inline: auto;
  @include max-w($tab-size) {
}

  &__item {
    filter: grayscale(100%);
    transition: .2s ease-in-out;
    flex: 0 0 auto;
    max-width: fit-content;
    @include max-w($tab-size) {
      &:last-child {
        margin-left: 1.5rem;
      }
    }
    &:hover {
      filter: grayscale(0);
    }
  }
}

@include max-w($mob-size) {
  .sponsor-list {
    &__item {
      flex: 0 0 auto !important;
    }
  }
}

@include max-w(46.875em) {
  .client {
    &__list {
      max-width: 100%;
      overflow: visible;
    }
  }
}
