.footer {
  &__container {
    padding: 0 clamp(.9rem, 3.43vw, 3.43rem);
  }
  &__inner {
    max-width: 90em;
    margin-inline: auto;
    padding: max(2.625vw, 30px) 0;
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    grid-gap: max(5.2vw, 2rem);
    justify-content: space-between;
  }
  background-color:
  hsla(0, 0%, 91%, 1);
  &__column-heading {
    border-bottom: 1px solid hsla(0, 0%, 59%, .43);
    padding-bottom: 13px;
    font-size: max(1vw, .9rem);
    font-weight: 600;
  }
  ._contact-column {
    max-width: 20.875em;
  }
  &__contact {
  display: flex;
  align-items: flex-end;
  max-width: 82.125rem;
  }

  &__options {
    justify-content: space-between;
    width: 100%;
    margin-left: clamp(5rem, 11.875vw, 11.875rem);
    display: flex;
    align-items: center;
  }
  &__copyright {
    background-color: #D8D8D8;
  }
  &__yandex {
    width: 176px;
  }
  &__copy-left {
    padding: max(1.5vw, 1rem) max(3vw, 1rem);
    font-size: max(0.875vw, .6rem);
    color: hsla(0, 0%, 0%, 1);
    opacity: .5;
    max-width: 1530px;
    margin-inline: auto;
  }
  .social {
    margin-left: 7.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 3rem;
    &__link {
      svg {
        fill: #000;
        transition: fill .2s ease-in-out;
        &:hover {
          fill: var(--clr-red);
        }
      }
    }
  }
  &__phone {
    margin-top: 11px;
    color: var(--clr-red);
    font-size: 1rem;
    font-weight: 600;
  }
  &__btn {
    margin-left: auto;
  }
  .adress-link {
    font-size: .875rem;
    line-height: 185%;

    opacity: 0.54;
  }
}

.footer-links {
  margin-top: 12px;
  display: grid;
  grid-gap: 5px;
  font-size: .875rem;
  line-height: 185%;
  opacity: 0.54;
}

@include max-w(28.125em) {
  .footer {
    &__column {
      flex: 1 1 50%;
    }
  }
}

@include max-w(78.125em) {
  .footer {
    &__contact {
      flex-wrap: wrap;
      grid-gap: 1.5rem;
    }
  }
}

@include max-w(50em) {
  .footer {
    &__options {
      flex-direction: column;
      margin-left: 0;
      grid-gap: 2rem;
    }
    .social {
      margin-left: 0;
    }
    &__contact {
      margin-top: 1.5rem;
    }
    &__btn {
      margin-left: 0;
    }
  }
}

@include max-w($mob-size) {
  .footer {
    &__btn {
      max-width: 100%;
    }
  }
}
