.heading {
  &--spacing-top {
    .heading__inner {
      padding: clamp(2rem, 9.75vw, 9.75rem) 15px max(2.6875vw, 1.4375rem) 15px;
      @include max-w($mob-size) {
        padding: 2rem 15px max(2.6875vw, 1.4375rem)  15px;
      }
    }
  }
  &__inner {
    position: relative;
    display: flex;
    grid-gap: max(4.1875vw, 1.25rem);
    max-width: 78.25rem;
    margin-inline: auto;
    flex-direction: column;
    padding: clamp(2rem, 4.875vw, 4.875rem) 15px max(2.6875vw, 1.4375rem) 15px;
    @include max-w($mob-size) {
      padding: 2rem 15px max(2.6875vw, 1.4375rem) 15px;
    }
  }
  &__bottom {
    width: 100%;
    @include al_flex;
    justify-content: space-between;
    flex-wrap: wrap;
    grid-gap: 2.5rem 1rem;
  }
  &__return {
    width: max(7.1875vw, 3.875rem);
  }
  &__button {
    // margin-top: clamp(1rem, 4.1875vw, 4.1875rem);
    max-width: fit-content;
    padding: clamp(12px, 0.875vw, 0.875rem) clamp(25px, 1.8625vw, 1.8625rem);
  }
  &__sorting {
    @include al-flex;
    grid-gap: 13px;
    span {
      font-size: 1.125rem;
      color: var(--clr-white);
      font-style: italic;
      font-weight: 300;
    }
    svg {
      flex: 0 0 auto;
    }
  }
}

@include max-w(28.125em) {
  .heading {
    &__button {
      max-width: 100%;
    }
  }
}
