.home {
  height: calc(100% - 1220px);
  min-height: 100vh;
  padding-top: 3.625rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: var(--clr-white);
  &__body {

    display: flex;
    justify-content: space-between;
    @include max-w($tab-size) {
      flex-direction: column;
      grid-gap: 3.5rem;
    }
  }
  &__info {
    max-width: 35em;
  }
  &__title {
    font-style: italic;
    font-size: clamp(2rem, 3vw, 3rem);
    font-weight: 300;
    margin-bottom: 21px;
  }
  &__descr {
    margin-bottom: clamp(20px, 3.625vw, 3.625rem);
    p {
      font-size: clamp(.8rem, 1.125vw, 1.25rem);
    }
  }
  &__image {
    padding: 35px 0px 14px;
    @include max-w($tab-size) {
      width: max(22.5vw, 15rem);
    }
  }
}

@include max-w($tab-size) {
  .home {
    &__body {
      align-items: center;
    }
  }
}

@include max-w($mob-size) {
  .home {
    &__btn {
      max-width: 100%;
    }
  }
}
