.home {
  // height: 100vh;
  min-height: 100%;
  min-height: -moz-available;
  min-height: -webkit-fill-available;
  min-height: fill-available;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  color: var(--clr-white);
  position: relative;
  &__call {
    display: none;
  }
  &__body {
    display: flex;
    justify-content: space-between;
    @include max-w($tab-size) {
      flex-direction: column;
      grid-gap: 3.5rem;
    }
  }
  &__info {
    max-width: 35em;
  }
  &__title {
    font-style: italic;
    font-size: clamp(2rem, 3vw, 3rem);
    font-weight: 300;
    margin-bottom: 21px;
  }
  &__descr {
    margin-bottom: clamp(20px, 3.625vw, 3.625rem);
    p {
      font-size: clamp(.8rem, 1.125vw, 1.25rem);
    }
  }
  &__image {
    padding: 35px 0px 14px;
    @include max-w($tab-size) {
      width: max(22.5vw, 15rem);
    }
  }
  &__bottom {
    position: absolute;
    width: 50%;
    right: 0;
    bottom: calc(0px + 39px);
  }
  &__bottom-inner {
    display: flex;
    justify-content: space-between;
  }
  &__bottom-social {
    padding-right: 32px;
    min-height: 24px;
    margin-top: auto;
    height: 100%;
  }
  &__bottom-scroll {
    transition: transform 300ms ease-in;
    &:hover {
      transform: translateY(10px);
    }
    svg {
      fill: transparent;
    }
  }
}

@include max-w($tab-size)  {

  .home {
    .social {
      min-width: 8rem;
    }
    &__body {
      text-align: center;
    }
    &__title {
      max-width: 25rem;
    }
    &__call {
      display: block;
      span {
        display: none;
      }
    }
    &__body {
      align-items: center;
    }
    &__bottom-inner {
      flex-direction: row-reverse;
    }
    &__bottom-scroll {
      display: none;
    }
    &__descr {
      margin-bottom: 10px;
    }
    &__title {
      margin-bottom: 10px;
    }
    &__bottom {
      width: 100%;
      padding: 0 15px;
      bottom: 10px;
    }
    &__image {
      padding: 0;
    }
  }
}

@include max-w($mob-size) {
  .home {
    &__btn {
      max-width: 100%;
    }
    &__body {
      grid-gap: 1.2rem;
    }
  }
}
