.nav {
  background-color: var(--clr-200);
  &__link {
    background-color: var(--clr-200);
    display: block;
    width: 100%;
    padding: clamp(33px, 3vw, 48px) clamp(.8rem, 5.625vw, 5.625rem) 33px;
    box-shadow: var(--shadow-block);
    border-collapse: collapse;
    text-transform: uppercase;
    font-size: clamp(1.125rem, 2.25vw, 2.25rem);
    font-weight: 500;
    @include al-flex;
    justify-content: space-between;
    transition: .2s ease-in-out;
    position: relative;
    z-index: 1;
    border-radius: 35px 35px 0px 0px;
    &::after {
      @include psevdo;
      height: calc(100% + 3rem);
      width: 100%;
      background-color: var(--clr-red);
      bottom:  -3rem;
      left: 0;
      opacity: 0;
      transition: opacity .2s ease;
      z-index: -1;
      border-radius: 35px 35px 0 0 ;
    }

    &:hover::after {
      opacity: 1;
    }
    @include max-w($tab-size) {
      border-radius: 25px 25px 0 0px;
    }
    img {
      width: max(16.3vw, 7.5rem);
      opacity: 0;
      transition: all .2s ease-in-out;
    }
    &:hover img{
      opacity: 1;
    }
    &:hover {

      background-color: var(--clr-red);
      color: var(--clr-white);
      padding-bottom: clamp(4rem, 7.375vw, 7.375rem);
    }
  }
}

.--green-one {
  &:hover {
    background-color: #0A993B;
  }
  &::after {
    content: none;
  }
}
