.nav {
  background-color: var(--clr-200);
  border-radius: 35px 35px 0px 0px;
  &__item {
    position: relative;

    &:hover .hidden-list {
      height: 100%;
      opacity: 1;
      visibility: visible;
      margin-top: max(3.4375vw, 1.3125rem);
      padding-bottom: clamp(1.6875rem, 3.125vw, 3.125rem);
    }

    &:nth-child(2) {
      &:hover .nav__link {
        &:hover {
          padding-bottom: 0;
        }
        padding-bottom: 0 !important;
      }
      .nav__link {
          // padding-bottom: 0;
          flex-direction: column;
          align-items: flex-start;

      }
    }
  }
  &__link {
    background-color: var(--clr-200);
    display: block;
    width: 100%;
    padding: clamp(33px, 3vw, 48px) clamp(.8rem, 5.625vw, 5.625rem) 33px;
    box-shadow: var(--shadow-block);
    border-radius: 35px 35px 0px 0px;
    background-color: var(--clr-200);
    text-transform: uppercase;
    font-size: clamp(1.125rem, 2.25vw, 2.25rem);
    font-weight: 500;
    @include al-flex;
    justify-content: space-between;
    transition: 200ms ease-in-out;
    position: relative;
    z-index: 1;
    &::after {
      @include psevdo;
      height: calc(100% + 3rem);
      width: 100%;
      background-color: var(--clr-red);
      bottom:  -3rem;
      left: 0;
      opacity: 0;
      transition: opacity .2s ease;
      border-radius: 35px 35px 0 0;
      z-index: -1;
    }
    &:hover::after {
      opacity: 1;
    }
    @include max-w($tab-size) {
      border-radius: 25px 25px 0 0px;
    }
    img {
      width: max(16.3vw, 7.5rem);
      opacity: 0;
      transition: all .2s ease-in-out;
    }
    &:hover img{
      opacity: 1;
    }
    &:hover {
      background-color: var(--clr-red);
      color: var(--clr-white);
      // padding-bottom: clamp(4rem, 7.375vw, 7.375rem);
    }
  }
}

.hidden-list {
  visibility: hidden;
  height: 0;
  opacity: 0;
  margin-left: max(2.5vw, 1.875rem);
  transition: all 400ms ease-in-out;
  flex-direction: column;
  grid-gap: max(2.5625vw, 1.3125rem);
  display: flex;
  position: relative;

    &::after {
      @include psevdo;
      height: calc(100% + 3rem);
      width: 100%;
      background-color: var(--clr-red);
      bottom:  -3rem;
      left: 0;
      opacity: 0;
      transition: opacity .2s ease;
      border-radius: 35px 35px 0 0;
      z-index: -1;
    }


  &__link {
    font-size: clamp(0.875rem, 1.75vw, 1.75rem);
    @include al_flex;
    color: var(--clr-white);
    justify-content: space-between;
    width: 100%;
    transition: opacity 300ms ease-in-out;
    img {
  display: none;
    }
    &:hover {
      opacity: 0.6;
    }
    @include min-w(34.375em) {
      &:hover img {
        display: block;
      }
    }

  }
}


.--green-one {
  &:hover {
    background-color: #0A993B;
  }
  &::after {
    content: none;
  }
}

@include max-w($mob-size) {
  .nav {
    border-radius: 25px 25px 0px 0px;
    &__link {
      border-radius: 25px 25px 0px 0px;
      &::after {
        border-radius: 35px 35px 0 0;
      }
    }
  }
}

@include max-w($mob-size) {
  .hidden-list {
    margin-left: 0;
  }
}

.--nav-page {
  padding-top: 35px;
}
