.progress {
  padding-bottom: max(5.25vw, 40px);
  &__container {
    max-width: 90em;
    margin-inline: auto;
    padding: 0 2rem;
  }
  &__body {
    display: flex;
    transform: translateY(-40px);
    flex-direction: column;
    grid-gap: 17px;
    justify-content: center;
  }
  &__top,
  .progress__bottom {
    display: flex;
    justify-content: space-between;

  }
  &__top {
    max-width: 876px;
    margin-left: 92px;
  }
  &__bottom {
    max-width: max(56.8vw, 25em);
    margin-left: max(26.875vw, 5rem);
  }
  &__item {
    font-size: clamp(3rem, 3.75vw, 3.75rem);
    font-weight: 700;
    display: flex;
    flex-direction: column;
    span {
      font-size: clamp(1rem, 1.5vw, 1.5rem);
      font-weight: 400;
    }
  }
}

@include max-w($tab-size) {
  .progress {
    &__top,
    .progress__bottom {
      flex-direction: column;
      margin-left: 0;
      max-width: 100%;
    }
    &__body {
      transform: translateY(-5%);
    }
    &__item {
      line-height: 70%;
      &:nth-child(1) {
        align-items: flex-start;
      }
      &:nth-child(2) {
        align-items: flex-end;
      }
      &:nth-child(3) {
        align-items: flex-start;
      }
      &:nth-child(4) {
        align-items: flex-end;
      }
    }
  }
}
