.request {
  &__body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
  &__heading {
    font-size: clamp(1.5rem, 2.25vw, 2.25rem);
    font-weight: 300;
    font-style: italic;
    max-width: 25.5625rem;
  }
  &__info {
    padding: clamp(1.5rem, 6.8vw, 6.8rem) clamp(.3rem, 10vw, 10rem) clamp(1.5rem, 6.8vw, 6.8rem) clamp(.3rem, 5.75vw, 5.75rem);
    @include max-w($tab-size) {
      padding: clamp(1.5rem, 6.8vw, 6.8rem) 10px clamp(1.5rem, 6.8vw, 6.8rem) 10px;
    }
  }
  &__subtitle {
    margin-top: max(1.93vw, .25rem);
    max-width: 25.5em;
    font-size: clamp(.875rem, 1vw, 1rem);
  }
  &__inputs {
    margin-top: 15px;
    display: grid;
    grid-gap: max(1.93vw, 15px);
  }
  &__button {
    margin-top: 25px;
  }
  &__notif {
    margin-top: 25px;
    display: flex;
    grid-gap: 11px;
    svg {
      fill: transparent;
    }
  }
  &__checkbox {
    margin-top: 5px;
    flex: 0 0 auto;
    width: 20px;
    height: 20px;
    outline: 2px solid var(--clr-black);
    display: grid;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    svg {
      transform: scale(0);
      transition: transform .2s ease-in-out;
    }
  }
  &__notif-text {
    max-width: 26.9rem;
    p {
      opacity: .5;
      font-size: .625rem;
    }
  }
  &__input {
    background: transparent;
    padding-bottom: 9px;
    border-bottom: 1px solid var(--clr-black);
    max-width: 28.875rem;
    @include max-w($tab-size) {
      margin-top: 30px;
    }
    &::placeholder {
      color: var(--clr-black);
    }
  }
  &__image {
    overflow: hidden;
    @include max-w(70.5em) {
      height: 100%;
    }
    img,
    picture {
      display: block;
      @include max-w(70.5em) {
        height: 100%;
      }

    }
    position: relative;
    &::before {
      @include psevdo;
      width: max(2.1vw, 25px);
      background-color: var(--clr-red);
      height: 100%;
      right: 0;
    }
  }
  &__name-block {
    position: absolute;
    bottom: 54px;
    right: max(2.1vw,25px);
    background-color: var(--clr-white);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px max(3vw, 1.5rem);
  }
  &__inner {
    font-weight: 300;
    font-style: italic;
    font-size: clamp(.875rem, 1.5vw, 1.5rem);
    span {
      font-style: normal;
      font-size: max(1.125vw, .75rem);
    }
  }
}

.--check-visible {
  transform: scale(1) !important;
}

@include max-w(50.5em) {
  .request {
    &__subtitle {
      max-width: 100%;
    }
    &__body {
      display: flex;
      flex-direction: column;
      align-items: unset;
    }
    &__input {
      width: 100%;
      max-width: 100%;
    }
    &__image {
      height: 25.75em;
      overflow: hidden;
    }
    &__name-block {
      right: 25px;
      bottom: 15px;
    }
    &__image {
      picture,
      img {
        width: 100%;
      }
    }
  }
}

@include max-w($mob-size) {
  .request {
    &__button {
      max-width: 100%;
    }
  }
}
