.review {
  &__body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    @include max-w($tab-size) {
      display: flex;
      flex-direction: column;
    }
  }
  &__client {
    width: 100%;
    background-color: var(--clr-300);
    padding: clamp(1.5rem, 4.5625vw, 4.5625rem) clamp(10px, 14.375vw, 14.375rem) clamp(1.5rem, 10vw, 10rem) clamp(10px, 7.25vw, 7.25rem);
    @include max-w($tab-size) {
      padding: 1.5rem 10px;
    }
  }
  &__info {
    margin: 0 clamp(10px, 4vw, 4rem) 0 clamp(10px, 6vw, 6rem);

    line-height: 185%;
    max-width: 35.1875rem;
    max-width: 100%;
    p {
      width: 100%;
      font-size: 14px;
      @include max-w($tab-size) {
        font-size: 12px;
        padding: 1.5rem 0;
      }
    }
  }
  &__heading {
    font-size: clamp(1.375rem, 2.25vw, 2.25rem);
    font-style: italic;
    font-weight: 300;
  }
  &__name {
    margin-top: clamp(1.5rem, 3.3125rem, 53px);
    font-size: clamp(1.125rem, 1.5vw, 1.5rem);
    line-height: 200%;
    font-style: italic;
  }
  &__role {
    margin-top: 10px;
    font-size: clamp(13px, 1vw, 1rem);
    line-height: 131%;
  }
  &__buttons-row {
    margin-top: clamp(1.5rem, 4.375vw, 4.375rem);
  }
  &__buttons-row {
    @include al-flex;
    grid-gap: max(3.8125vw,.7rem);
    @include max-w($tab-size) {
      justify-content: flex-end;
      img {
        width: 80px;
      }
    }
  }
}
