.review {
  &__body {
    display: grid;
    grid-template-columns: 50% 1fr;
    overflow: hidden;
    align-items: center;
    @include max-w($tab-size) {
      display: flex;
      flex-direction: column;
      grid-template-columns: 100%;
    }
  }
  &__wrapper-client {
    background-color: var(--clr-300);
    padding: clamp(1.5rem, 4.5625vw, 4.5625rem) clamp(10px, 14.375vw, 14.375rem) clamp(1.5rem, 10vw, 10rem) clamp(10px, 7.25vw, 7.25rem);
    @include max-w($tab-size) {
      padding: 1.5rem 10px;
      max-width: 100%;
    }

  }
  .pag-next,
  .pag-prev {
    cursor: pointer;
  }
  &__wrapper {
    width: 100%;
    overflow: hidden;
  }
  &__inner {

  }
  &__client {
    width: 100%;
  }
  &__wrapper {
    margin: 0 10px !important;
  }
  &__info {
    width: 100%;
    line-height: 185%;
    max-width: 35.1875rem;
    max-width: 100%;
    p {
      padding: 0 clamp(10px, 4vw, 4rem) 0 clamp(10px, 6vw, 6rem) !important;
      width: 100%;
      font-size: 14px;
      @include max-w($tab-size) {
        font-size: 12px;
        padding: 1.5rem 0;
        line-height: 170%;
        padding: 30px 15px !important;
      }
    }
  }
  &__heading {
    font-size: clamp(1.625rem, 2.25vw, 2.25rem);
    font-weight: 600;
  }
  &__name {
    margin-top: clamp(1.375rem, 3.3125vw, 53px);
    font-size: clamp(1.125rem, 1.5vw, 1.5rem);
    line-height: 200%;

  }
  &__role {
    margin-top: 10px;
    font-size: clamp(14px, 1vw, 1rem);
    line-height: 131%;
    @include max-w($tab-size) {
      margin-top: 2rem;
    }
  }
  &__buttons-row {
    margin-top: clamp(1.5rem, 4.375vw, 4.375rem);
  }
  &__buttons-row {
    @include al-flex;
    grid-gap: max(3.8125vw, 2.5rem);
    @include max-w($tab-size) {
      justify-content: flex-end;
      img {
        width: 60px;
      }
    }
  }
}

