.serv-page {
  &__text {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  &__wrapper {
    width: max(35vw, 25em);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 4rem;
    @include max-w(66.875em) {
      width: 100%;
    }
    @include max-w($mob-size) {
      margin-top: 2rem;
    }
  }
  &__body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    @include max-w(66.875em) {
      grid-template-columns: 100%;
    }
  }
  ._hidden-image {
    height: 25rem;
    margin-top: 2rem;
    display: block;
    position: static;
    left: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    max-width: 100vw;
    position: relative;
    right: 50%;
    width: 100vw;
    @include max-w($mob-size) {
      height: fit-content;
    }
    @include min-w(66.875em) {
      display: none;

    }
  }
  &__heading {
    color: var(--clr-black);
    margin-bottom: 1rem;
  }
  &__button {
    margin-top: 2rem;
    @include max-w(66.875em) {
      margin-inline: auto;
      display: block;
    }
    @include max-w($mob-size) {
      max-width: 100%;
    }
  }
  &__info {
    padding: 1.5rem clamp(1rem, 6vw, 6rem);
    @include max-w(50em) {
      padding: 1.5rem 16px;
    }
  }
  &__descr {
    p {
      font-size: 0.875rem;
      line-height: 180%;
    }
  }
  &__subtitle {
    display: block;
    font-style: italic;
    margin-top: max(1.875vw, 1.5rem);
  }
  &__image {
    width: 100%;
    height: fit-content;
    position: sticky;
    top: 0;
    @include max-w(66.875em) {
      display: none;
    }
    img,
    picture {
      height: inherit;
      width: inherit;
    }
  }
  &__text {
    padding: 2.3125rem clamp(15px, 6vw, 6rem);
    @include max-w($mob-size) {
      padding: 2.3125rem 15px;
    }
  }
  &__text-inner {
    margin-top: 14px;
    display: flex;
    flex-direction: column;
    grid-gap: 26px;
  }
  &__title {
    text-align: center;
    color: var(--clr-black);
    @include max-w(66.875em) {
      text-align: left;
    }
  }
}

.serv-list {
  margin-top: max(0.75vw, .375rem);
  max-width: 30.625rem;
  display: flex;
  flex-direction: column;
  grid-gap: 10px;
  @include max-w(50em) {
    max-width: 100%
  }
  &__row {
    display: flex;
    align-items: flex-start;
    grid-gap: 8px;
    font-size: 0.875rem;
    @include max-w(50em) {
      align-items: flex-start;
    }
  }
  span {
    flex-shrink: 0;
    width: 13px;
    height: 1px;
    background-color: var(--clr-red);
    display: block;
    margin-top: .4rem;
    @include max-w($mob-size) {
      margin-top: .5rem;
    }
  }
}

.services__heading-inner {
    @include max-w($mob-size) {
      flex-direction: column-reverse;
      .heading__return {
        display: block !important;
      }
    }
}
