.social {
  @include al-flex;
  min-width: 100%;
  justify-content: space-between;
  grid-gap: 1.5rem;
  &__link {
    fill: #fff;
    transition: .2s ease-in;
    &:hover {
      fill: var(--clr-red);
    }
  }
}
